<a href="https://colab.research.google.com/github/Poojasri1726/K-HUB-LEARNINGS/blob/main/K_HUB_PYTHON_LEARNING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

K-HUB LEARNING DAY 1

          PYTHON

Python is a papular language. It is invented by GUIDO VAN ROSSUM in 19991.

It is used for:
* Web development
* software devolpment
* mathematcis

SYNTAX

In [ ]:
print("pooja sri")

pooja sri

COMMENTS
* Comments used to explain python code
* it is start with "#"

In [ ]:
# This is a comment

VARIABLES
* Variables store date values

In [ ]:
a = 3
b = 5
print(a)
print (b)

3
5

DATA TYPES
* INT - Stores numbers
* FLOAT - Stores decimal values
* CHAR -Stores text

In [ ]:
x= 5
print(type(x))

In [ ]:
a="pooja"
print(type(a))

STRINGS
* A sequence of characters inside the quotes

FINDING THE LENGHT

In [ ]:
x="pooja sri"
lenght = len(x)
print("lenght of the srting :", lenght)

lenght of the srting : 9

CONVERT UPPER CASE

In [ ]:
x="good morning"
text=x.upper()
print(text)

GOOD MORNING

COUNT VOWELS

In [ ]:
a = "pooja sri"
vowels = "aeiouAEIOU"
count = 0

for char in a:
    if char in vowels:
        count += 1

print("no of vowels:", count)

no of vowels: 4

REVERSE STRING

In [ ]:
text = " sree "
reversed_text=text[::-1]
print(reversed_text)

 eers

REMOVE DUPLICATES

In [ ]:
input_string = "programming"
result = ""
for char in input_string:
    if char not in result:
        result += char
print(result)

progamin

PALINDROME OR NOT

In [ ]:
a = "python"
if a == a[::-1]:
    print("palindrome")
else :
      print("not palindrome")

not palindrome

BOOLEAN
* In python, a boolean reprents one of two values
> true or false

check if a num is +ve

In [ ]:
num = int(input("Enter a number: "))
if num > 0 :
     print("positive")
else :
     print("negative")

Enter a number: -9
negative

Check if a string is empty or not

In [ ]:
a= input("enter a string")
if a :
    print("true")
else :
       print("flase")

enter a string
flase

Check if  word is  palindrome (boolean output)

In [ ]:
a = input("enter a string:")
if a == a[::-1]:
    print("palindrome")
else:
      print("not palindrome")

enter a string:pooja
not palindrome

OPERATORS
* Arthmetic operators
* Assignment operators

ARITHMETIC OPERATORS

Addition

In [ ]:
a = 5
b = 7
print(a+b)

12

Subtraction

In [ ]:
a = 9
b = 5
print (a-b)

4

Multiplication

In [ ]:
a=8
b=27
print(a*b)

216

Divison

In [ ]:
a = 7
b = 88
print(a/b)

0.07954545454545454

Modulus

In [ ]:
a = 56
b = 98
print (a%b)

56

Exponentiation

In [ ]:
a = 56
b = 2
print (a**b)

3136

Floor division

In [ ]:
a = 26
b = 200
print(a//b)

0

ASSIGNMENT OPERATORS

** OPERATOR

In [ ]:
x = 6
x **= 2
print("Output:", x)

Output: 36

In [ ]:
// OPERATOR

In [ ]:
x = 4
x //= 2
print("Output:", x)

Output: 2

In [ ]:
+= OPERATOR

In [ ]:
x = 89
x += 2
print("Output:", x)

Output: 91

In [ ]:
-= OPERATOR

In [ ]:
x = 76
x -= 20
print("Output:", x)

Output: 56

LIST
* It is stored multiple items in a single variable
* lits items are orderd and it is denoted by square brackets []

Allow duplicate values

In [ ]:
thislist = ["pooja", "vimala", "valli", "jnana", "sai"]
print(thislist)

['pooja', 'vimala', 'valli', 'jnana', 'sai']

lenght of the list

In [ ]:
thislist = ["pooja", "sai", "sree"]
print(len(thislist))

3

data types: string, int and boolean

In [ ]:
list1 = ["csm", "aid", "cai"]
list2 = [1, 5, 7, 9, 3]
list3 = [False, False, True]
print(list1)
print(list2)
print(list3)

['csm', 'aid', 'cai']
[1, 5, 7, 9, 3]
[False, False, True]

Item exist or  not

In [ ]:
thislist = ["pooja", "khub", "team5"]
if "team5" in thislist:
  print("Yes, 'team5' is in the list")
else:
  print("not in the list")

Yes, 'team5' is in the list

Change list items

In [ ]:
thislist = ["sree", "vimmu", "sai"]
thislist[1] = "cai"

print(thislist)

['sree', 'cai', 'sai']

In [ ]:
thislist = ["one", "two", "three", "four", "five", "six"]
thislist[1:3] = ["ninet", "eight"]
print(thislist)

['one', 'ninet', 'eight', 'four', 'five', 'six']

Remove list item

In [ ]:
thislist = ["abc", "bbb", "ccc"]
thislist.remove("abc")
print(thislist)

['bbb', 'ccc']

Remove anyitem

In [ ]:
thislist = ["kiet", "kiew", "kiek"]
del thislist[0]
print(thislist)

['kiew', 'kiek']

Delete the entire list

In [ ]:
thislist = ["1", "2", "3"]
del thislist

loop list

In [ ]:
thislist = ["10", "50", "100"]
for i in range(len(thislist)):
  print(thislist[i])

10
50
100

using while loop

In [ ]:
thislist = ["100", "200", "300"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

100
200
300

using foe loop

In [ ]:
thislist = ["abcd", "abcde", "abcdef"]
[print(x) for x in thislist]

abcd
abcde
abcdef

[None, None, None]

List Comprehension

In [ ]:
num = ["101", "105", "206", "129", "555"]
newlist = []

for x in num:
  if "1" in x:
    newlist.append(x)

print(newlist)

['101', '105', '129']

sort list by alphabets

In [ ]:
thislist = ["pooja", "kiew", "cai", "team5", "dayscolar"]
thislist.sort()
print(thislist)

['cai', 'dayscolar', 'kiew', 'pooja', 'team5']

sort list by numbers

In [ ]:
thislist = [100, 67, 90, 1,89,]
thislist.sort()
print(thislist)

[1, 67, 89, 90, 100]

sort function

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [50, 50, 25, 10, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 50, 25, 23, 10]

copy a list

In [ ]:
thislist = ["101", "210", "520"]
mylist = thislist.copy()
print(mylist)

['101', '210', '520']

using slice operator

In [ ]:
thislist = ["kiwi", "black", "phone"]
mylist = thislist[:]
print(mylist)

['kiwi', 'black', 'phone']

Join two lists

In [ ]:
list1 = ["ae", "io", "u"]
list2 = [10, 20, 30]

list3 = list1 + list2
print(list3)

['ae', 'io', 'u', 10, 20, 30]

using append

In [ ]:
list1 = ["pooja", "sree" , "sri"]
list2 = [00, 000, 000]

for x in list2:
  list1.append(x)

print(list1)

['pooja', 'sree', 'sri', 0, 0, 0]

using extend

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

TUPLES
* Tuples are used to store multiple items in a single variable
* I t is denoted by round brackets

lenght of the tuple

In [ ]:
thistuple = ("rat", "cat", "mat", "bat")
print(len(thistuple))

4

tuple items -data types

In [ ]:
tuple1 = ("pinky", "sweety", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

tuple constructor

In [ ]:
thistuple = tuple((10,20,30,40,50,55))
print(thistuple)

(10, 20, 30, 40, 50, 55)

negative indexing

In [ ]:
thistuple = ("kiet", "kiet1", "kiet2")
print(thistuple[-1])

kiet2

convert tuple into a list

In [ ]:
thistuple = (1,3,5,7)
y = list(thistuple)
y.append(9)
thistuple = tuple(y)

Join tuples

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

SETS
* Sets are used to store multiple items in a single variable
* it is a collection of unorderd, unchangable and it is denoted by curly brackets

creating a set

In [ ]:
thisset = {"bag", "pen", "pencil"}
print(thisset)

{'pencil', 'pen', 'bag'}

lenght of the set

In [ ]:
thisset = {"parrot", "dove", "chair"}

print(len(thisset))

3

set data types

In [ ]:
set1 = {"hp", "lenovo", "mac"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'lenovo', 'hp', 'mac'}
{1, 3, 5, 7, 9}
{False, True}

true and 1 consider same values and false and 0 consider same values

In [ ]:
thisset = {"pooja", "sree", "sri", True, 1, 2,False, 0}

print(thisset)

{False, True, 2, 'pooja', 'sri', 'sree'}

type() set

In [ ]:
myset = {"three", "six", "nine"}
print(type(myset))

<class 'set'>

set constructor

In [ ]:
thisset=((102,105,107))
print(thisset)

(102, 105, 107)

add items

In [ ]:
thisset = {"apple", "nani", "book"}

thisset.add("orange")

print(thisset)

{'book', 'orange', 'apple', 'nani'}

add set

In [ ]:
thisset = {"cai", "csm", "aid"}
tropical = {"kiet", "kiew", "kiek"}

thisset.update(tropical)

print(thisset)

{'aid', 'kiew', 'kiek', 'kiet', 'csm', 'cai'}

Remove set  items

In [ ]:
thisset = {"pink", "peach", "red"}

thisset.remove("red")

print(thisset)

{'pink', 'peach'}

remove a random item by pop

In [ ]:
thisset = {"pooja", "sree", "srii"}

x = thisset.pop()

print(x)

print(thisset)

srii
{'pooja', 'sree'}

LOOP ITEMS

In [ ]:
thisset = {"for", "do", "while"}

for x in thisset:
  print(x)

for
do
while

JOIN SETS

Union

In [ ]:
set1 = {"a", "b", "c"}
set2 = {21, 32, 43}

set3 = set1.union(set2)
print(set3)

{32, 'c', 21, 'a', 'b', 43}

join multiple sets

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 'c', 3, 'John', 'a', 'apple', 'b', 'Elena', 'cherry', 'bananas'}

join set and a tuple

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 'c', 3, 'a', 'b'}

intersection

In [ ]:
set1 = {"book", "pen", "laptop"}
set2 = {"google", "pen", "chatgpt"}

set3 = set1.intersection(set2)
print(set3)

{'pen'}

true and 1 and false and 0 are consider same values

In [ ]:
set1 = {1,5,8,"abc", 1,  "eee", 0, "bee"}
set2 = {False, "eee", 1, "apple", 2,4, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'eee'}

difference b/w 2 sets

In [ ]:
set1 = {"kiet", "kiew", "kiek"}
set2 = {"google", "microsoft", "kiet"}

set3 = set1.difference(set2)

print(set3)

{'kiew', 'kiek'}

symmetric difference

In [ ]:
set1 = {"aid", "csm", "aid"}
set2 = {"google", "cyber", "aid"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'csm', 'google', 'cyber'}

DICTIONARIES
* Dict are used to store data values in key : value pairs
* it is denoteed  by curly brackets

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349
}
print(thisdict)

{'name': 'pooja', 'branch': 'cai', 'roll': 4349}

Dictionary items

In [ ]:
thisdict={
    "name":"pooja",
    "branch":"cai",
    "roll":"4349"
}
print(thisdict["name"])

pooja

Duplicates not allowed

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "roll":4348

}
print(thisdict)

{'name': 'pooja', 'branch': 'cai', 'roll': 4348}

lenght of Dictionary

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19

}
print(len(thisdict))

4

Accessing items

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
x = thisdict.get("roll")
print(x)

4349

Get keys

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
x = thisdict.keys()

print(x)

dict_keys(['name', 'branch', 'roll', 'age'])

Get values

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
x = thisdict.values()

print(x)

dict_values(['pooja', 'cai', 4349, 19])

Get items

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
x = thisdict.items()
print(x)

dict_items([('name', 'pooja'), ('branch', 'cai'), ('roll', 4349), ('age', 19)])

Chnage values

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}

thisdict["year"] = 2006

print(thisdict)

{'name': 'pooja', 'branch': 'cai', 'roll': 4349, 'age': 19, 'year': 2006}

update Dictionary

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
thisdict.update({"year": 2007})

print(thisdict)

{'name': 'pooja', 'branch': 'cai', 'roll': 4349, 'age': 19, 'year': 2007}

Adding items

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
thisdict["college"] = "kiew"
print(thisdict)

{'name': 'pooja', 'branch': 'cai', 'roll': 4349, 'age': 19, 'college': 'kiew'}

update Dictionary

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
thisdict.update({"college": "kiew"})

print(thisdict)

{'name': 'pooja', 'branch': 'cai', 'roll': 4349, 'age': 19, 'college': 'kiew'}

Removing items

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
thisdict.pop("age")
print(thisdict)

{'name': 'pooja', 'branch': 'cai', 'roll': 4349}

loop dictionaries

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
for x in thisdict:
  print(x)

name
branch
roll
age

values in dictionaries

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
for x in thisdict:
  print(thisdict[x])

pooja
cai
4349
19

key dictionaries

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
for x in thisdict.keys():
  print(x)

name
branch
roll
age

items in dictionaries

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
for x, y in thisdict.items():
  print(x, y)

name pooja
branch cai
roll 4349
age 19

Copy a Dictionary

In [ ]:
thisdict = {
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
}
mydict = thisdict.copy()
print(mydict)

{'name': 'pooja', 'branch': 'cai', 'roll': 4349, 'age': 19}

Nested Dictionaries

In [ ]:
studentslist = {
    "student1":{
  "name": "pooja",
  "branch": "cai",
  "roll": 4349,
  "age":19
},
    "student2":{
  "name": "sree",
  "branch": "csm",
  "roll": 4348,
  "age":21
},
    "student3":{
  "name": "jnana",
  "branch": "aid",
  "roll": 4350,
  "age":20
},
"student4":{
  "name": "devi",
  "branch": "cyber",
  "roll": 4352,
  "age":22
}
}
print(studentslist)

{'student1': {'name': 'pooja', 'branch': 'cai', 'roll': 4349, 'age': 19}, 'student2': {'name': 'sree', 'branch': 'csm', 'roll': 4348, 'age': 21}, 'student3': {'name': 'jnana', 'branch': 'aid', 'roll': 4350, 'age': 20}, 'student4': {'name': 'devi', 'branch': 'cyber', 'roll': 4352, 'age': 22}}

IF....ELSE

Python supports the usual logical conditions from mathematics:
* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

In [ ]:
a = 6003
b = 300

if b > a:
  print("b is greater than a")

Elif

In [ ]:
a = 39
b = 45
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

else

In [ ]:
a = 750
b = 432
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

And condition

In [ ]:
a = 700
b = 600
c = 800
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

or condition

In [ ]:
a = 600
b = 100
c = 954
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

Not condition

In [ ]:
a = 67
b = 98
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

Nested if

In [ ]:
x = 54

if x > 20:
  print("Above ten,")
  if x > 30:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

pass statement

In [ ]:
a = 200
b = 300

if b > a:
  pass

MATCH
* The match statement selects one of many code blocks to be executed.

In [ ]:
day = 7
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Sunday

Default Value

In [ ]:
day = 6
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

Today is Saturday

Combine Values

In [ ]:
day = 5
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

Statements as Guards

In [ ]:
month = 4
day = 7
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

No match

DAY 2

LOOPS
* while loops
* for loops

While loop
Print numbers from 1 to 5

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

Sum of first n natural numbers

In [ ]:
n = 5
i = 1
total = 0
while i <= n:
    total += i
    i += 1
print("Sum:", total)

Sum: 15

Normal triangle using *

In [ ]:
i = 1
while i <= 5:
    print('*' * i)
    i += 1

*
**
***
****
*****

triangle reverse order

In [ ]:
i = 5
while i >= 1:
    print('*' * i)
    i -= 1

*****
****
***
**
*

BREAK STATEMENT
* break stops the loop immediately when a condition is true.

In [ ]:
i = 1
while i <= 10:
    if i == 5:
        break
    print(i)
    i += 1

1
2
3
4

Break in a for loop

In [ ]:
for i in range(1, 10):
    if i == 6:
        break
    print(i)

1
2
3
4
5

Break in a loop to  the first even number

In [ ]:
numbers = [1, 3, 5, 8, 9, 10]
for n in numbers:
    if n % 2 == 0:
        print("First even number:", n)
        break

First even number: 8

CONTINUE STATEMENT
* It is used to avoid running part of the loop when a condition is true.

In [ ]:
i = 1
while i <= 7:
    if i == 5:
        i += 1
        continue
    print(i)
    i += 1

1
2
3
4
6
7

 skip even numbers

In [ ]:
for i in range(1, 6):
    if i % 2 == 0:
        continue
    print(i)

1
3
5

ELSE STATEMENT
* else runs after the loop ends without using break.

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print("Loop completed!")

0
1
2

for loop with else

In [ ]:
for i in range(3):
    print(i)
else:
    print("For loop done!")

0
1
2
For loop done!

FOR LOOPS
* for loop runs code again and again for each value.

 Print numbers from 1 to 5

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

Print each letter in a word

In [ ]:
for letter in "Pooja":
    print(letter)

P
o
o
j
a

Print even numbers from 1 to 10

In [ ]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

Loop through a string

In [ ]:
text = "sree"
for char in text:
    print(char)

s
r
e
e

Break statement in for loop

In [ ]:
for i in range(1, 6):
    if i == 3:
        break
    print(i)

1
2

 Break when a number is divisible by 7

In [ ]:
for i in range(1, 20):
    if i % 7 == 0:
        print("Divisible by 7:", i)
        break
    print(i)

1
2
3
4
5
6
Divisible by 7: 7

Continue in for loop

Skip number 5

In [ ]:
for i in range(1, 6):
    if i == 5:
        continue
    print(i)

1
2
3
4

Skip names that start with 'A'

In [ ]:
names = ["Anjali", "sree", "Asha", "Pooja"]
for name in names:
    if name.startswith("A"):
        continue
    print(name)

sree
Pooja

Range function in for loop

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

Reverse counting using negative step

In [ ]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

Else in For Loop

In [ ]:
for i in range(3):
    print(i)
else:
    print("Loop finished")

0
1
2
Loop finished

 Find even number in a list

In [ ]:
numbers = [1, 3, 5, 7]
for num in numbers:
    if num % 2 == 0:
        print("Even number found:", num)
        break
else:
    print("No even number found")

No even number found

Searching in a string

In [ ]:
text = "pooja"
for ch in text:
    if ch == 'z':
        print("Found z")
        break
else:
    print("z not found in text")

z not found in text

Nested Loops

In [ ]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i * j, end="\t")
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

Triangle Pattern with Nested Loop

In [ ]:
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

Pass statement

In [ ]:
x = 10
if x > 5:
    pass  # no action yet
print("Check complete")

Check complete

In [ ]:
items = ["apple", None, "banana"]

for item in items:
    if item is None:
        pass  # skip None values for now
    else:
        print(item)

apple
banana

DAY 3

FUNCTIONS
* A function is a named block of code that can be executed when called.
* They are defined with def and can be called by their name.

Creating a function

In [3]:
def my_function():
    print("poojasri")

calling a function

In [4]:
def say_hello():
    print("Hello poojasri!")

say_hello()

Hello poojasri!

In [5]:
def multiply(a, b):
    print(a * b)

multiply(6, 4)

24

Arguments

In [8]:
def full_name(firstname):
    print(firstname + " kiet")

full_name("sree")
full_name("jnana")
full_name("devi")

sree kiet
jnana kiet
devi kiet

two arguments

In [9]:
def student_info(name, course):
    print(name + " is in " + course)

student_info("Pooja", "AI")
student_info("jnana", "csm")
student_info("vimala", "aid")

Pooja is in AI
jnana is in csm
vimala is in aid

arguments in numbers

In [10]:
def square(num):
    print(num, "squared is", num * num)

square(7)
square(5)
square(10)

7 squared is 49
5 squared is 25
10 squared is 100

Arbitrary Arguments

In [13]:
def my_function(*toppers):
    print("The first topper is " +toppers[0])

my_function("pooja", "sree", "sri")

The first topper is pooja

In [15]:
def show_students(*names):
    print("Students are:", names)

show_students("Pooja", "aadhya", "sree", "Meena")

Students are: ('Pooja', 'aadhya', 'sree', 'Meena')

Using arguments in a loop

In [16]:
def greet_all(*friends):
    for friend in friends:
        print("Hello", friend)

greet_all("Ram", "Sita", "siri")

Hello Ram
Hello Sita
Hello siri

keyword arguments

In [17]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1="pooja", child2="sree", child3="santhosh")

The youngest child is santhosh

In [18]:
def student_ranks(rank3, rank2, rank1):
    print("The topper is " + rank1)

student_ranks(rank1="Pooja", rank2="Ravi", rank3="Ankitha")

The topper is Pooja

Arbitrary Keyword Arguments, **kwargs

In [19]:
def student_info(**details):
    print(details)

student_info(name="Pooja", age=20, course="AI")

{'name': 'Pooja', 'age': 20, 'course': 'AI'}

In [20]:
def print_details(**info):
    for key, value in info.items():
        print(key, ":", value)

print_details(Name="ppoja", City="tanuku", Hobby="Reading")

Name : ppoja
City : tanuku
Hobby : Reading

Default Parameter Value

In [22]:
def greet(name="sree"):
    print("Hello", name)

greet()
greet("Pooja")

Hello sree
Hello Pooja

Multiple parameters with defaults

In [23]:
def student_info(name="pooja", course="AI"):
    print(name, "is in", course)

student_info()
student_info("sri")
student_info("Ankitha", "CSE")

pooja is in AI
sri is in AI
Ankitha is in CSE

Passing a List as an Argument

In [24]:

def print_fruits(fruits):
    for fruit in fruits:
        print(fruit)

my_list = ["Apple", "Banana", "Cherry"]
print_fruits(my_list)

Apple
Banana
Cherry

Summing numbers in a list

In [25]:
def sum_list(numbers):
    print("Sum is:", sum(numbers))

nums = [5, 10, 15]
sum_list(nums)

Sum is: 30

Finding the largest number

In [ ]:
def find_max(numbers):
    print("Max number is:", max(numbers))

marks = [65, 82, 91, 74]
find_max(marks)

Return values

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)

using return directly

In [26]:
def multiply(x, y):
    return x * y

print(multiply(4, 6))

24

Multiple returns in a function

In [27]:
def check_number(num):
    if num > 0:
        return "Positive"
    elif num < 0:
        return "Negative"
    else:
        return "Zero"

print(check_number(5))
print(check_number(-3))
print(check_number(0))

Positive
Negative
Zero

pass statement

In [29]:
def my_function():
    pass

my_function()
print("Function executed")

Function executed

In [30]:
for i in range(3):
    pass
print("Loop finished")

Loop finished

Positional-Only Arguments

In [31]:
def my_function(x, y, ):
    print(x + y)

my_function(3, 4)
my_function(x=3, y=4)

7
7

In [33]:
def details(name, age,  city):
    print(name, age, city)

details("Pooja", 20, city="Kakinada")
details(name="Pooja", age=20, city="Kakinada")

Pooja 20 Kakinada
Pooja 20 Kakinada

Keyword-Only Arguments

In [36]:
def my_function(x, y):
    print(x + y)

my_function(x=3, y=4)
my_function(3, 4)

7
7

In [38]:
def greet( first="Guest", last="User"):
    print(f"Hello {first} {last}")

greet(first="Pooja", last="Sri")
greet(last="Sri")
greet("Pooja")

Hello Pooja Sri
Hello Guest Sri
Hello Pooja User

Recursion

In [42]:
def my_function( x, y):
    print(x + y)

my_function(x=6, y=4)
my_function(6, 4)

10
10

In [44]:
def details(name, age, city):
    print(name, age, city)

details("Pooja", age=20, city="Kakinada")
details("Pooja", 20, "Kakinada")

Pooja 20 Kakinada
Pooja 20 Kakinada

python lambda

In [45]:
x = lambda a: a + 10
print(x(5))

15

In [46]:
multiply = lambda a, b: a * b
print(multiply(5, 6))

30

In [47]:
add_three = lambda a, b, c: a + b + c
print(add_three(2, 3, 4))

9

In [48]:
def myfunc(n):
    return lambda a: a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33